<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJJ4uwbe4jxwPkdL3hujpSSdqqXMNKOgU</string>
	<key>GCM_SENDER_ID</key>
	<string>415579686885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bamabin</string>
	<key>PROJECT_ID</key>
	<string>bamabin-bcc05</string>
	<key>STORAGE_BUCKET</key>
	<string>bamabin-bcc05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415579686885:ios:0a1e2b9f1df70a5a48d10c</string>
</dict>
</plist>